<a href="https://colab.research.google.com/github/AnuragBhattacharjee17/Pesonal-Indentifiable-Information-PII-Removal-in-Python/blob/master/Personal_Identifiable_Information_(PII)_Removal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install scrubadub

Requirement already satisfied: scrubadub in /usr/local/lib/python3.6/dist-packages (1.2.1)
Requirement already satisfied: argcomplete in /usr/local/lib/python3.6/dist-packages (from scrubadub) (1.11.1)
Requirement already satisfied: phonenumbers in /usr/local/lib/python3.6/dist-packages (from scrubadub) (8.11.2)
Requirement already satisfied: textblob==0.15.3 in /usr/local/lib/python3.6/dist-packages (from scrubadub) (0.15.3)
Requirement already satisfied: importlib-metadata<2,>=0.23; python_version == "3.6" in /usr/local/lib/python3.6/dist-packages (from argcomplete->scrubadub) (1.4.0)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob==0.15.3->scrubadub) (3.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata<2,>=0.23; python_version == "3.6"->argcomplete->scrubadub) (1.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob==0.15.3->scrubadub) (1.12.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from zipp>=0.5->importlib-metadata<2,>=0.23; python_version == "3.6"->argcomplete->scrubadub) (8.0.2)

In [58]:
import scrubadub
import nltk
nltk.download("punkt")
sent = "Anurag works in Infosys"
scrubadub.clean(sent,replace_with="identifier")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

'{{NAME-0}} works in {{NAME-1}}'

PII Removal from DataFrame

In [0]:
text1= "Anurag works in Infosys."
text2= "You can contact him in +91-7717733570."
text3= "His email id is anurag.b@infosys.com."
text4= "His address is Electronic City,Bangalore."

In [60]:
import pandas as pd
df=pd.DataFrame([text1,text2,text3,text4],columns=["Text"])
df

                                        Text
0                   Anurag works in Infosys.
1     You can contact him in +91-7717733570.
2      His email id is anurag.b@infosys.com.
3  His address is Electronic City,Bangalore.

In [61]:
scrub = lambda x: scrubadub.clean(x)
df["Text"]=df["Text"].apply(scrub)
df

                                Text
0        {{NAME}} works in {{NAME}}.
1  You can contact him in {{PHONE}}.
2         His email id is {{EMAIL}}.
3  His address is {{NAME}} {{NAME}}.

Suppose we want to remove Phone Number and Email from sensitive information

In [0]:
scrubber = scrubadub.Scrubber()
scrubber.remove_detector('email')
scrubber.remove_detector('phone')

In [72]:
scrubber.clean(text2)

'You can contact him in +91-7717733570.'

In [73]:
scrubber.clean(text3)

'His email id is anurag.b@infosys.com.'